:root{
  --tipografiaTitulos: 'Public Sans', sans-serif;
  --tipografiaParrafos: 'Poppins', sans-serif;
  --ColorVerde: #2f7d32;
  --ColorGris:#d5d1d1;
  --ColorAzul: #0057ff;
  --ColorGrisBotones: #393939;
  --ColorSombraBotones: #ccdfcd;
}